.home-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .home-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 8px;
    .item-box {
      min-width: 300px;
      width: 300px;
      height: 200px;
      box-sizing: border-box;
      border: 2px dashed #ccc;
      margin-right: 8px;
      margin-bottom: 8px;
      overflow: auto;
      border-radius: 8px;
      .counter-wrapper {
        text-align: center;
        button {
          width: fit-content;
          cursor: pointer;
          margin-bottom: 4px;
        }
      }
      .student-wrapper {
        padding: 12px;
        ul {
          list-style: none;
          margin: 4px 0;
          padding: 0;
        }
      }
      .parent-wrapper {
        padding: 8px;
        font-size: 14px;
        .child-wrapper {
          span {
            color: goldenrod;
            display: inline-block;
            word-break: break-all;
          }
        }
        .refs-wrapper {
          span {
            padding-right: 18px;
          }
          button {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
